@tailwind base;
@tailwind components;
@tailwind utilities;

  body {
    @apply bg-gray-900;
  }

  .trapezoid-shadow {
    filter: drop-shadow(3px 3px 8px rgba(0, 0, 0, 1));
  }

  .trapezoid {
      clip-path: polygon(0% 94%, 0% 6%, 100% 0%, 100% 100%); 
    }
    
    .trapezoid-end{
    clip-path: ellipse(20px 144px at 50% 50%);
  }

  .trapezoid .tilt:nth-child(1) {
    transform: rotate(-0.65deg);
  }
  .trapezoid .tilt:nth-child(2) {
    transform: rotate(-0.45deg);
  }
  .trapezoid .tilt:nth-child(3) {
    transform: rotate(-0.2deg);
  }
  .trapezoid .tilt:nth-child(4) {
    transform: rotate(0.2deg);
  }
  .trapezoid .tilt:nth-child(5) {
    transform: rotate(0.45deg);
  }
  .trapezoid .tilt:nth-child(6) {
    transform: rotate(0.65deg);
  }
