@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: light;
  --primary-color: light-dark(#333, #fafafa);
  --primary-background: light-dark(#e4e4e4, #121212);
  --navbar-height: 42px;
  --navbar-background: light-dark(#d1d1d1, #272727);
  --navbar-border: light-dark(#272727, #d1d1d1);
  --element-hover: light-dark(#f5f5f5, #191919);
  --fretboard-bg: light-dark(#be975b, #453117);
}

:root {
  &:has(input[name="color-scheme"]:not(:checked)) {
    color-scheme: light;
  }

  &:has(input[name="color-scheme"]:checked) {
    color-scheme: dark;
  }
}

.fret {
  background: var(--fretboard-bg);
  transition: color 0.4s, background-color 0.4s;
}

body {
  font-family: "Lucida Console", monospace;
  margin: 0px;
}

main {
  color: var(--primary-color);
  background-color: var(--primary-background);
  transition: color 0.4s, background-color 0.4s;
  min-height: calc(100vh - var(--navbar-height));
}

.full-page {
  min-width: 100vh;
  min-height: calc(100vh - var(--navbar-height));
}

.container_css {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.buttons {
  display: flex;
  justify-content: space-evenly;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-align: center;
  margin: 0 auto;
  padding: 2rem;
}

p,
button {
  padding: 5px 10px;
}

body>picture,
button {
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  margin: 2rem;
}

/* Rounded sliders */

.switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 28px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #e4e4e4;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  left: 6px;
  bottom: 4px;
  background-color: rgb(193, 193, 193);
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked+.slider {
  background-color: #121212;
}

input:focus+.slider {
  box-shadow: 0 0 1.5px #626262;
}

input:checked+.slider:before {
  -webkit-transform: translateX(18px);
  -ms-transform: translateX(18px);
  transform: translateX(18px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

ul {
  list-style-type: None;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.navbar {
  position: sticky;
  top: 0;
  overflow: hidden;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: var(--navbar-background);
  box-shadow: 0px 2px 0px 0px rgba(var(--navbar-background), 0.1);
  transition: color 0.4s, background-color 0.4s;
}

.trans {
  transition: color 0.2s, background-color 0.4s;
}

li {
  float: left;
}

.nav-link {
  display: block;
  text-align: center;
  font-family: inherit;
  color: var(--primary-color);
  font-weight: bold;
  padding: 12px 16px;
  text-decoration: none;
  transition: color 0.4s, background-color 0.4s;
}

.nav-link:hover {
  background-color: var(--element-hover);
  transition: color 0.4s, background-col
}

.nav-link.active {
  background-color: var(--primary-background);
  transition: color 0.4s, background-color 0.4s;

}


.trapezoid-shadow {
  filter: drop-shadow(3px 3px 8px rgba(0, 0, 0, 1));
}

.trapezoid {
  clip-path: polygon(0% 94%, 0% 6%, 100% 0%, 100% 100%);
}

.trapezoid-end {
  clip-path: ellipse(20px 144px at 50% 50%);
}

.trapezoid .tilt:nth-child(1) {
  transform: rotate(-0.65deg);
}

.trapezoid .tilt:nth-child(2) {
  transform: rotate(-0.45deg);
}

.trapezoid .tilt:nth-child(3) {
  transform: rotate(-0.2deg);
}

.trapezoid .tilt:nth-child(4) {
  transform: rotate(0.2deg);
}

.trapezoid .tilt:nth-child(5) {
  transform: rotate(0.45deg);
}

.trapezoid .tilt:nth-child(6) {
  transform: rotate(0.65deg);
}